.register-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  max-width: 1224px;
}

.register-container > * {
  width: 95%;
}

.register-right-align {
  text-align: right;
}

.invalid-feedback {
  color: #D8000C;
  font-size: small;
}

.field-full-width {
  width: 100%;
}

.user-password-container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: inline-block;
  position: relative;
}


input.register-right-align::-webkit-outer-spin-button,
input.register-right-align::-webkit-inner-spin-button {
  display: none;
}

input.register-right-align {
  -moz-appearance: textfield;
}

button{
  margin: 5px;
}

mat-form-field{
  margin-top: 5px;
}

@media only screen  and (min-width : 1224px) {
  .container {
    margin: auto;
    width: 50%;
  }

}
