<div>
  <mat-card>
    <h4 class="mat-display-1">Register</h4>
    <mat-divider></mat-divider>
    <br>
    <div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="register-container">
        <mat-form-field class="field-full-width">
          <label>
            <input matInput formControlName="firstName" placeholder="First Name*" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.firstName.errors }">
          </label>
        </mat-form-field>
        <div *ngIf="submitted && registerForm.controls.firstName.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.firstName.errors.required">First name is required</div>
        </div>
        <mat-form-field class="field-full-width">
          <label>
            <input matInput formControlName="lastName" placeholder="Last Name*" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.lastName.errors }">
          </label>
        </mat-form-field>
        <div *ngIf="submitted && registerForm.controls.lastName.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.lastName.errors.required">Last name is required</div>
        </div>
        <mat-form-field class="field-full-width">
          <label>
            <input matInput formControlName="email" placeholder="Email*" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.email.errors }">
          </label>
        </mat-form-field>
        <div *ngIf="submitted && registerForm.controls.email.errors" class="invalid-feedback">
          <div *ngIf="registerForm.controls.email.errors.required">Email is required</div>
          <div *ngIf="registerForm.controls.email.errors.email">Must be a valid email address</div>
        </div>
        <!--Username and password -->
        <div class="user-password-container">
            <mat-card class="mat-elevation-z8">
              <mat-form-field class="field-full-width">
                <label>
                  <input matInput formControlName="username" placeholder="Username*" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.username.errors }">
                </label>
                <button mat-icon-button matSuffix disabled>
                  <mat-icon aria-hidden="true">person</mat-icon>
                </button>
              </mat-form-field>
              <div *ngIf="submitted && registerForm.controls.username.errors" class="invalid-feedback">
                <div *ngIf="registerForm.controls.username.errors.required">Username is required</div>
              </div>
              <mat-form-field class="field-full-width">
                <label>
                  <input matInput formControlName="password" placeholder="Password*"
                         [ngClass]="{ 'is-invalid': submitted && registerForm.controls.password.errors }"
                         [type]="hidePassword ? 'password' : 'text'">
                </label>
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <div *ngIf="submitted && registerForm.controls.password.errors" class="invalid-feedback">
                <div *ngIf="registerForm.controls.password.errors.required">Password is required</div>
                <div *ngIf="registerForm.controls.password.errors.minlength">Password must be at least 8 characters</div>
              </div>
              <mat-form-field class="field-full-width">
                <label>
                  <input matInput formControlName="confirmPassword" placeholder="Confirm Password*"
                         [ngClass]="{ 'is-invalid': submitted && registerForm.controls.confirmPassword.errors }"
                         [type]="hideConfirmPassword ? 'password' : 'text'">
                </label>
                <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                  <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <div *ngIf="submitted && registerForm.controls.confirmPassword.errors" class="invalid-feedback" >
                <div *ngIf="registerForm.controls.confirmPassword.errors.mustMatch">Passwords not matching</div>
              </div>
            </mat-card>
        </div>
      </div>
        <button mat-raised-button color="primary">Register</button>
      <br>
    </form>
    </div>
  </mat-card>
</div>
