<div>
  <mat-card>
    <mat-divider></mat-divider>
    <br>
    <div class="container">
     <mat-card>
       <div class="about-container">
         <mat-card-title-group>
           <mat-card-title>Concept</mat-card-title>
         </mat-card-title-group>
         <mat-card-content>
           Its easy to loose track of your job applications. This app provides a simple way to keep track of all your job application data.
         </mat-card-content>
         <mat-card-title-group>
           <mat-card-title>Functionality</mat-card-title>
         </mat-card-title-group>
         <mat-card-content>
           The application provides the user with the following functionality.
         </mat-card-content>
           <mat-list>
             <mat-list-item> Register with username and password. </mat-list-item>
             <mat-list-item> Login with your credentials. </mat-list-item>
             <mat-list-item> Add new jobs applications. </mat-list-item>
             <mat-list-item> Add notes to your job applications. </mat-list-item>
             <mat-list-item> Edit and delete your job applications. </mat-list-item>
             <mat-list-item> Export your job record to CSV for Excel spreadsheets.</mat-list-item>
           </mat-list>
         <mat-card-title-group>
           <mat-card-title> Development</mat-card-title>
         </mat-card-title-group>
         <mat-card-content>
           The application is built using the MEAN (MongoDB, ExpressJS, Angular, NodeJS) stack -
           a modern open source development framework that allows the coder to use JavaScript on
           both the frontend and backend, while seamlessly transferring data from one layer to another in JSON format.
         </mat-card-content>
         <mat-card-subtitle>Application Architecture</mat-card-subtitle>
         <img src="assets/img/application-architecture.png" alt="Application Architecture" mat-card-image>
         <mat-card-subtitle>Key Features</mat-card-subtitle>
         <mat-card>
           <mat-card-header>
           <mat-card-title>
             Angular
           </mat-card-title>
           <img mat-card-avatar src="assets/img/angular_icon.png">
           </mat-card-header>
           <mat-card-content>
            Angular frontend framework for building Single Page Applications in TypeScript.
           </mat-card-content>
         </mat-card>
         <mat-card>
           <mat-card-header>
             <mat-card-title>
               NodeJS
             </mat-card-title>
             <img mat-card-avatar src="assets/img/nodejs_icon.jpg">
           </mat-card-header>
           <mat-card-content>
             NodeJS is a server-side JavaScript used to implement the REST API.
           </mat-card-content>
         </mat-card>
         <mat-card>
           <mat-card-header>
             <mat-card-title>
               Express
             </mat-card-title>
             <img mat-card-avatar src="assets/img/expressJS_icon.png">
           </mat-card-header>
           <mat-card-content>
             Express is a web application framework for NodeJS that provides basic web-server creation and routing tools.
           </mat-card-content>
         </mat-card>
         <mat-card>
           <mat-card-header>
             <mat-card-title>
               Mongoose
             </mat-card-title>
             <img mat-card-avatar src="assets/img/mongoose_icon.png">
           </mat-card-header>
           <mat-card-content>
             Mongoose is Object Data Modelling library for MongoDB and NodeJS that allows for schema creation and makes transferring data much easier.
           </mat-card-content>
         </mat-card>
         <mat-card>
           <mat-card-header>
             <mat-card-title>
               Atlas MongoDB
             </mat-card-title>
             <img mat-card-avatar src="assets/img/mongodb_atlas_icon.png">
           </mat-card-header>
           <mat-card-content>
             Cloud-based version of MongoDB - the NoSQL document-oriented database that stores data in JSON-like documents.
           </mat-card-content>
         </mat-card>




       </div>
     </mat-card>
    </div>
  </mat-card>
</div>


