<div>
  <mat-card>
    <mat-divider></mat-divider>
    <br>
    <div class="container">
     <mat-card>
       <div class="about-container">
         <section class="mat-typography">
           <h1>INFO</h1>
           <mat-divider></mat-divider>
         </section>
         <br>
         <mat-card-title-group>
           <mat-card-title>Concept</mat-card-title>
         </mat-card-title-group>
         <mat-card-content>
           Its easy to lose track of your job applications. This application provides a simple way to keep track of all your job application data.
         </mat-card-content>
         <br>
         <mat-card-title-group>
           <mat-card-title>Functionality</mat-card-title>
         </mat-card-title-group>
         <mat-card-content>
           The application has the following functionality:
         </mat-card-content>
           <mat-list>
             <mat-list-item> Register with username and password. </mat-list-item>
             <mat-list-item> Login with your credentials. </mat-list-item>
             <mat-list-item> Add new jobs applications. </mat-list-item>
             <mat-list-item> Add notes to your job applications. </mat-list-item>
             <mat-list-item> Edit and delete your job applications. </mat-list-item>
             <mat-list-item> Export your job record to CSV for Excel spreadsheets.</mat-list-item>
           </mat-list>
         <br>
         <mat-card-title-group>
           <mat-card-title> Development</mat-card-title>
         </mat-card-title-group>
         <mat-card-content>
           The application is built using the MEAN (MongoDB, ExpressJS, Angular, NodeJS) stack -
           a modern open source development framework that allows the coder to use JavaScript on
           both the frontend and backend, while seamlessly transferring data from one layer to another in JSON format.
         </mat-card-content>
         <mat-card-subtitle>Application Architecture</mat-card-subtitle>
         <img src="assets/img/application-architecture.png" alt="Application Architecture" mat-card-image>
         <mat-card-subtitle>Components</mat-card-subtitle>
         <mat-card class="list-item">
           <mat-card-header>
           <mat-card-title>
             Angular
           </mat-card-title>
           <img mat-card-avatar src="assets/img/angular_icon.png">
           </mat-card-header>
           <mat-card-content>
            Angular frontend framework for building Single Page Applications in TypeScript.
           </mat-card-content>
         </mat-card>
         <mat-card class="list-item">
           <mat-card-header>
             <mat-card-title>
               NodeJS
             </mat-card-title>
             <img mat-card-avatar src="assets/img/node_js_icon.jpg">
           </mat-card-header>
           <mat-card-content>
             NodeJS is a server-side JavaScript used to implement the REST API.
           </mat-card-content>
         </mat-card>
         <mat-card class="list-item">
           <mat-card-header>
             <mat-card-title>
               Express
             </mat-card-title>
             <img mat-card-avatar src="assets/img/express_icon.png">
           </mat-card-header>
           <mat-card-content>
             Express is a web application framework for NodeJS that provides basic web-server creation and routing tools.
           </mat-card-content>
         </mat-card>
         <mat-card class="list-item">
           <mat-card-header>
             <mat-card-title>
               Mongoose
             </mat-card-title>
             <img mat-card-avatar src="assets/img/mongoose_icon.jpg">
           </mat-card-header>
           <mat-card-content>
             Mongoose is Object Data Modelling library for MongoDB and NodeJS that provides for schema creation and simplified data transfer.
           </mat-card-content>
         </mat-card>
         <mat-card class="list-item">
           <mat-card-header>
             <mat-card-title>
               Atlas MongoDB
             </mat-card-title>
             <img mat-card-avatar src="assets/img/mongodb_icon.jpg">
           </mat-card-header>
           <mat-card-content>
             Cloud-based version of MongoDB - the NoSQL document-oriented database that stores data in JSON-like documents.
           </mat-card-content>
         </mat-card>
         <mat-card class="list-item">
           <mat-card-header>
             <mat-card-title>
               Angular Material
             </mat-card-title>
             <img mat-card-avatar src="assets/img/angular_material_icon.png">
           </mat-card-header>
           <mat-card-content>
             Angular Material is a user interface library for quickly developing consistent and attractive web applications.
           </mat-card-content>
         </mat-card>
         <mat-card class="list-item">
           <mat-card-header>
             <mat-card-title>
               JWT
             </mat-card-title>
             <img mat-card-avatar src="assets/img/jwt_icon.png">
           </mat-card-header>
           <mat-card-content>
             <p>Jason Web Toekns (JWT) are a standardised optionally validated and/or encrypted container format that is used to securely transfer information between two parties.</p>
             <p>In this application, JWT are used to authenticate users. If a user provides the correct login credentials, a token,
               which includes a unique ID and role, is returned and stored in local storage. The token enables access to restricted routes. </p>
           </mat-card-content>
         </mat-card>
         <mat-card-title-group>
           <mat-card-subtitle>Deployment</mat-card-subtitle>
         </mat-card-title-group>
         <mat-card class="list-item">
           <mat-card-header>
             <mat-card-title>
               Heroku
             </mat-card-title>
             <img mat-card-avatar src="assets/img/heroku_icon.jpeg">
           </mat-card-header>
           <mat-card-content>
             <p>The project is hosted on Heroku and deployed using the the simplified CLI.<p>
             <p>In the interests of modularity, the frontend and backend are deployed as separate applications:</p>
             <mat-list dense>
               <mat-list-item> Angular fronted </mat-list-item>
               <mat-list-item> NodeJS/ExpressJS backend </mat-list-item>
               <mat-list-item> The database is hosted by Atlas MongoDB </mat-list-item>
             </mat-list>
           </mat-card-content>
         </mat-card>
         <mat-card-title-group>
         <mat-card-subtitle>Source code</mat-card-subtitle>
         </mat-card-title-group>
         <mat-card class="list-item">
           <mat-card-header>
             <mat-card-title>
               GitHub
             </mat-card-title>
             <img mat-card-avatar src="assets/img/github_icon.png">
           </mat-card-header>
           <mat-card-content>
             The source code for this project is available at my GitHub portfolio: <a href="https://github.com/Oisin-Bourke/job-app-tracker-mean-stack" target="_blank">job-app-tracker-mean-stack</a>
           </mat-card-content>
         </mat-card>
       </div>
     </mat-card>
    </div>
  </mat-card>
</div>


