<!-- Toolbar -->
<div class="toolbar" role="banner">

  <a href="/"><img class="toolbar-icon" src="assets/img/briefcase_icon.png" alt="Briefcase icon"/></a>
  <span>JOB APP TRACKER</span>
    <div class="spacer"></div>
  <div class="login-toolbar">
    <span *ngIf="currentUser; else elseBlock"> {{currentUser.username}}
       <button mat-icon-button matSuffix matTooltip="Logout" (click)="logout()">
         <mat-icon aria-hidden="true">exit_to_app</mat-icon>
       </button>
    </span>
    <ng-template #elseBlock>
        <button mat-icon-button matSuffix matTooltip="Login" (click)="login()">
          <mat-icon aria-hidden="true">person</mat-icon>
         </button>
    </ng-template>
    <span>
      <button mat-icon-button matSuffix matTooltip="About" (click)="info()">
         <mat-icon aria-hidden="true">info</mat-icon>
       </button>
    </span>
  </div>
</div>
<br>
<router-outlet></router-outlet>
