.login-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.login-container > * {
  width: 90%;
}

.login-right-align {
  text-align: right;
}

.field-full-width {
  width: 100%;
}

input.login-right-align::-webkit-outer-spin-button,
input.login-right-align::-webkit-inner-spin-button {
  display: none;
}

input.login-right-align {
  -moz-appearance: textfield;
}

button{
  margin: 5px;
}

mat-form-field{
  margin-top: 5px;
}
