.field-full-width {
  width: 100%;
}

.note-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  max-width: 1224px;
}

.note-container > * {
  width: 95%;
}

button{
  margin: 5px;
}

mat-form-field{
  margin-top: 5px;
}

mat-expansion-panel{
  margin-top: 5px;
}

@media only screen  and (min-width : 1224px) {
  .container {
    margin: auto;
    width: 50%;
  }

}
